<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Framework\View\Element\Template $block */
?>
<button id="request-price" ><span><?= $block->escapeHtml(__('Request price')) ?></span></button>

<div id="popup-modal" style="display: none">
    <form name="form_request_price" id="form_request_price" class="form">
        <div class="field required">
            <label for="request_price_name" class="label"><span><?= $block->escapeHtml(__('Name')) ?></span></label>
            <div class="control">
                <input type="text" name="request_price_name" id="request_price_name" title="<?= $block->escapeHtmlAttr(__('Name')) ?>" class="input-text" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true}">
            </div>
        </div>
        <div class="field required">
            <label for="request_price_email" class="label"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
            <div class="control">
                <input type="email" name="request_price_email" autocomplete="email" id="request_price_email" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" class="input-text" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true, 'validate-email':true}">
            </div>
        </div>

        <div class="field">
            <label for="request_price_comment" class="label"><span><?= $block->escapeHtml(__('Comment')) ?></span></label>
            <div class="control">
                <textarea name="request_price_comment" id="request_price_comment" cols="5" rows="3" data-validate="{required:true}"></textarea>
            </div>
        </div>
        <div class="primary">
            <button type="submit" id="request_price_submit" name="request_price_submit" class="button" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>"><span><?= $block->escapeHtml(__('Submit')) ?></span></button>
        </div>
    </form>
</div>
<script type="text/x-magento-init">
{
    "*": {
        "EduardCherkashyn_SamSolutions/request-price": {
            "requestPriceUrl":"<?= /* @noEscape */ $block->getUrl('requestprice/index/index') ?>"
        }
    }
}
</script>
